# 설치

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [1]:
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import pandas as pd
import numpy as np
from datetime import datetime
import time
import re
# 행 많이보기
pd.set_option('display.max_row', 500)
pd.set_option('display.max_columns', 100)

# 필요한 모듈 불러오기
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
!pip install gensim
!pip install konlpy

Requirement already satisfied: gensim in c:\python\envs\cpu_env\lib\site-packages (3.8.3)
Requirement already satisfied: Cython==0.29.14 in c:\python\envs\cpu_env\lib\site-packages (from gensim) (0.29.14)
Requirement already satisfied: numpy>=1.11.3 in c:\python\envs\cpu_env\lib\site-packages (from gensim) (1.18.1)
Requirement already satisfied: smart-open>=1.8.1 in c:\python\envs\cpu_env\lib\site-packages (from gensim) (2.1.0)
Requirement already satisfied: scipy>=0.18.1 in c:\python\envs\cpu_env\lib\site-packages (from gensim) (1.4.1)
Requirement already satisfied: six>=1.5.0 in c:\python\envs\cpu_env\lib\site-packages (from gensim) (1.13.0)
Requirement already satisfied: boto3 in c:\python\envs\cpu_env\lib\site-packages (from smart-open>=1.8.1->gensim) (1.14.40)
Requirement already satisfied: boto in c:\python\envs\cpu_env\lib\site-packages (from smart-open>=1.8.1->gensim) (2.49.0)
Requirement already satisfied: requests in c:\python\envs\cpu_env\lib\site-packages (from smart-open>=1.8.1->gensim) (2.23.0)
Requirement already satisfied: botocore<1.18.0,>=1.17.40 in c:\python\envs\cpu_env\lib\site-packages (from boto3->smart-open>=1.8.1->gensim) (1.17.40)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in c:\python\envs\cpu_env\lib\site-packages (from boto3->smart-open>=1.8.1->gensim) (0.3.3)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in c:\python\envs\cpu_env\lib\site-packages (from boto3->smart-open>=1.8.1->gensim) (0.10.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\python\envs\cpu_env\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (2019.11.28)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\python\envs\cpu_env\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\python\envs\cpu_env\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\python\envs\cpu_env\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (2.9)
Requirement already satisfied: docutils<0.16,>=0.10 in c:\python\envs\cpu_env\lib\site-packages (from botocore<1.18.0,>=1.17.40->boto3->smart-open>=1.8.1->gensim) (0.15.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\python\envs\cpu_env\lib\site-packages (from botocore<1.18.0,>=1.17.40->boto3->smart-open>=1.8.1->gensim) (2.8.1)

WARNING: You are using pip version 20.1.1; however, version 20.2.2 is available.
You should consider upgrading via the 'c:\python\envs\cpu_env\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: konlpy in c:\python\envs\cpu_env\lib\site-packages (0.5.2)
Requirement already satisfied: beautifulsoup4==4.6.0 in c:\python\envs\cpu_env\lib\site-packages (from konlpy) (4.6.0)
Requirement already satisfied: colorama in c:\python\envs\cpu_env\lib\site-packages (from konlpy) (0.4.1)
Requirement already satisfied: JPype1>=0.7.0 in c:\python\envs\cpu_env\lib\site-packages (from konlpy) (0.7.5)
Requirement already satisfied: tweepy>=3.7.0 in c:\python\envs\cpu_env\lib\site-packages (from konlpy) (3.8.0)
Requirement already satisfied: lxml>=4.1.0 in c:\python\envs\cpu_env\lib\site-packages (from konlpy) (4.5.0)
Requirement already satisfied: numpy>=1.6 in c:\python\envs\cpu_env\lib\site-packages (from konlpy) (1.18.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\python\envs\cpu_env\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: PySocks>=1.5.7 in c:\python\envs\cpu_env\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.7.1)
Requirement already satisfied: requests>=2.11.1 in c:\python\envs\cpu_env\lib\site-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in c:\python\envs\cpu_env\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.13.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\python\envs\cpu_env\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\python\envs\cpu_env\lib\site-packages (from requests>=2.11.1->tweepy>=3.7.0->konlpy) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\python\envs\cpu_env\lib\site-packages (from requests>=2.11.1->tweepy>=3.7.0->konlpy) (2019.11.28)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\python\envs\cpu_env\lib\site-packages (from requests>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\python\envs\cpu_env\lib\site-packages (from requests>=2.11.1->tweepy>=3.7.0->konlpy) (2.9)

WARNING: You are using pip version 20.1.1; however, version 20.2.2 is available.
You should consider upgrading via the 'c:\python\envs\cpu_env\python.exe -m pip install --upgrade pip' command.

In [ ]:
! pip3 install konlpy
! wget https://bitbucket.org/eunjeon/mecab-ko/downloads/mecab-0.996-ko-0.9.2.tar.gz
! tar xvfz mecab-0.996-ko-0.9.2.tar.gz > /dev/null 2>&1
! ./configure > /dev/null 2>&1
! make > /dev/null 2>&1
! make check > /dev/null 2>&1
! make install > /dev/null 2>&1
! ldconfig > /dev/null 2>&1
! wget https://bitbucket.org/eunjeon/mecab-ko-dic/downloads/mecab-ko-dic-2.1.1-20180720.tar.gz
! tar xvfz mecab-ko-dic-2.1.1-20180720.tar.gz > /dev/null 2>&1
! ./configure > /dev/null 2>&1
! make > /dev/null 2>&1
! make install > /dev/null 2>&1
! apt-get update > /dev/null 2>&1
! apt-get upgrade > /dev/null 2>&1
! apt install curl > /dev/null 2>&1
! apt install git > /dev/null 2>&1
! bash <(curl -s https://raw.githubusercontent.com/konlpy/konlpy/master/scripts/mecab.sh)  > /dev/null 2>&1
! pip install soynlp

Requirement already satisfied: konlpy in c:\python\envs\cpu_env\lib\site-packages (0.5.2)
Requirement already satisfied: lxml>=4.1.0 in c:\python\envs\cpu_env\lib\site-packages (from konlpy) (4.5.0)
Requirement already satisfied: numpy>=1.6 in c:\python\envs\cpu_env\lib\site-packages (from konlpy) (1.18.1)
Requirement already satisfied: beautifulsoup4==4.6.0 in c:\python\envs\cpu_env\lib\site-packages (from konlpy) (4.6.0)
Requirement already satisfied: colorama in c:\python\envs\cpu_env\lib\site-packages (from konlpy) (0.4.1)
Requirement already satisfied: tweepy>=3.7.0 in c:\python\envs\cpu_env\lib\site-packages (from konlpy) (3.8.0)
Requirement already satisfied: JPype1>=0.7.0 in c:\python\envs\cpu_env\lib\site-packages (from konlpy) (0.7.5)
Requirement already satisfied: PySocks>=1.5.7 in c:\python\envs\cpu_env\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.7.1)
Requirement already satisfied: six>=1.10.0 in c:\python\envs\cpu_env\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.13.0)
Requirement already satisfied: requests>=2.11.1 in c:\python\envs\cpu_env\lib\site-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\python\envs\cpu_env\lib\site-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\python\envs\cpu_env\lib\site-packages (from requests>=2.11.1->tweepy>=3.7.0->konlpy) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\python\envs\cpu_env\lib\site-packages (from requests>=2.11.1->tweepy>=3.7.0->konlpy) (2019.11.28)
Requirement already satisfied: idna<3,>=2.5 in c:\python\envs\cpu_env\lib\site-packages (from requests>=2.11.1->tweepy>=3.7.0->konlpy) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\python\envs\cpu_env\lib\site-packages (from requests>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in c:\python\envs\cpu_env\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.0)

WARNING: You are using pip version 20.1.1; however, version 20.2.2 is available.
You should consider upgrading via the 'c:\python\envs\cpu_env\python.exe -m pip install --upgrade pip' command.
'wget'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.
지정된 경로를 찾을 수 없습니다.
지정된 경로를 찾을 수 없습니다.
지정된 경로를 찾을 수 없습니다.
지정된 경로를 찾을 수 없습니다.
지정된 경로를 찾을 수 없습니다.
지정된 경로를 찾을 수 없습니다.
'wget'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.
지정된 경로를 찾을 수 없습니다.
지정된 경로를 찾을 수 없습니다.
지정된 경로를 찾을 수 없습니다.
지정된 경로를 찾을 수 없습니다.
지정된 경로를 찾을 수 없습니다.
지정된 경로를 찾을 수 없습니다.
지정된 경로를 찾을 수 없습니다.
지정된 경로를 찾을 수 없습니다.
지정된 파일을 찾을 수 없습니다.

In [123]:
from konlpy.tag import Mecab
import os
import pickle
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from konlpy.tag import Twitter
from gensim.models import Word2Vec, FastText

# 상품명 정리

In [87]:
df = pd.read_csv('/content/drive/My Drive/shop/WANPANMAN/data/train_ongoing.csv', encoding='cp949')

In [88]:
# 의류, 속옷, 잡화 중 SS 는 S/S로 변경
# FW는 F/W
def change_word(x) :
    if 'K-SWISS' not in x :
        x = x.replace('SS', 'S/S')
        x = x.replace('FW', 'F/W')
    return x
    
# 의류
tmp_idx = df.loc[(df['category']=='의류'),'product_name'].index
df.loc[(df['category']=='의류'),'product_name'] = list(map(change_word, df.loc[(df['category']=='의류'),'product_name']))

# 속옷
tmp_idx = df.loc[(df['category']=='속옷'),'product_name'].index
df.loc[(df['category']=='속옷'),'product_name'] = list(map(change_word, df.loc[(df['category']=='속옷'),'product_name']))

# 의류
tmp_idx = df.loc[(df['category']=='잡화'),'product_name'].index
df.loc[(df['category']=='잡화'),'product_name'] = list(map(change_word, df.loc[(df['category']=='잡화'),'product_name']))

# 가구, 침구 중 SS 는 슈퍼싱글로 변경
def eng_to_kor(x) :
    x = x.replace('SS', '슈퍼싱글')
    x = x.replace('S', '싱글')
    x = x.replace('Q', '퀸')
    x = x.replace('K', '킹')
    x = x.replace('SK', '슈퍼킹')
    return x

# 가구
tmp_idx = df.loc[(df['category']=='가구'),'product_name'].index
df.loc[(df['category']=='가구'),'product_name'] = list(map(eng_to_kor, df.loc[(df['category']=='가구'),'product_name']))

# 침구
tmp_idx = df.loc[(df['category']=='침구'),'product_name'].index
df.loc[(df['category']=='침구'),'product_name'] = list(map(eng_to_kor, df.loc[(df['category']=='침구'),'product_name']))

In [89]:
def eng_to_kor(x) :
    x = x.replace('K-SWISS', '케이스위스')
    x = x.replace('NNF', '앤앤에프')
    x = x.replace('CERINI by PAT', '세리니바이팻')
    x = x.replace('LG', '엘지')
    x = x.replace('EXR', '이엑스알')
    x = x.replace('DIOR', '디올')
    x = x.replace('USPA', '유스파')
    x = x.replace('TV', '텔레비전')
    return x

# 
df.loc[:, 'product_name'] = list(map(eng_to_kor, df.loc[:, 'product_name']))

In [90]:
def replace_word(x) :
    x = x.replace('무)', '무이자 ')
    x = x.replace('(무', '무')
    x = x.replace('일)', '일시불 ')
    x = x.replace('(일', '일')
    x = x.replace('(쿠)', '쿠첸')
    return x

brand_df = list(map(replace_word, df['product_name']))

def delete_word(x, word) :
    x = x.replace(word, '')
    return x

f = lambda x, y : delete_word(x, y)

for idx in range(len(brand_df)):
    brand_df[idx] = f(brand_df[idx], '일시불 ')
    brand_df[idx] = f(brand_df[idx], '무이자 ')
    brand_df[idx] = f(brand_df[idx], '일시불')
    brand_df[idx] = f(brand_df[idx], '무이자')    

brand_df = pd.DataFrame(brand_df)
brand_df.columns = ['product_name']

In [91]:
## + , 세트
plus = []
for idx in range(len(brand_df)) :
    if '+' in brand_df['product_name'][idx] or '세트' in brand_df['product_name'][idx] or '패키지' in brand_df['product_name'][idx]:
        plus.append(1)
    else :
        plus.append(0)

for idx in range(len(brand_df)):
    brand_df['product_name'][idx] = f(brand_df['product_name'][idx], '+')
    brand_df['product_name'][idx] = f(brand_df['product_name'][idx], '세트')
    brand_df['product_name'][idx] = f(brand_df['product_name'][idx], '패키지')

brand_df = pd.DataFrame(brand_df)
brand_df['+'] = plus

In [92]:
# 3차
popular = []
for idx in range(len(brand_df)) : 
    text = brand_df['product_name'][idx]
    pattern = '[\d]*차'
    repl = ''
    after_text = re.sub(pattern = pattern, repl = repl, string = text)
    if text != after_text :
        popular.append(1)
        brand_df['product_name'][idx] = after_text
    else :
        popular.append(0)

# 시즌3
for idx in range(len(brand_df)) : 
    text = brand_df['product_name'][idx]
    
    pattern = '시즌[\d]+'
    repl = ''
    after_text = re.sub(pattern = pattern, repl = repl, string = text)
    
    if text != after_text :
        popular[idx] += 1
        brand_df['product_name'][idx] = after_text

        
# 시즌 3
for idx in range(len(brand_df)) : 
    text = brand_df['product_name'][idx]
    
    pattern = '시즌 [\d]+'
    repl = ''
    after_text = re.sub(pattern = pattern, repl = repl, string = text)
    
    if text != after_text :
        popular[idx] += 1
        brand_df['product_name'][idx] = after_text
        
brand_df = pd.DataFrame(brand_df)
brand_df['popular'] = popular

In [93]:
# 제거
# "(초특가|파격가|세일|100%|국내산|햇|손질|자연산|무료|체험|국내제작|국내용|국내제조)" 

for idx in range(len(brand_df)) : 
    text = brand_df['product_name'][idx]
    pattern = "(초특가|파격가|세일|100%|국내산|햇|손질|자연산|무료|체험|국내제작|국내용|국내제조|제조|국내)" 
    repl = ''
    after_text = re.sub(pattern = pattern, repl = repl, string = text)
    if text != after_text :
        brand_df['product_name'][idx] = after_text

for idx in range(len(brand_df)) : 
    text = brand_df['product_name'][idx]
    pattern = "[\d]+(종|봉|개|단|박스|형|팩|세트|대|구|인용|인분|과|장|미|마리|매|kg|Kg|L|g|도|병|주분|일분|포|통|m|P|CH|주|롤|등급|월|조|인|년|도어)" 
    repl = ''
    after_text = re.sub(pattern = pattern, repl = repl, string = text)
    if text != after_text :
        brand_df['product_name'][idx] = after_text

In [11]:
# 삼성카드, 단하루, 가), 퀸, 킹, 싱글, 사이즈, 더블, 풀, 실속

In [95]:
for idx in range(len(brand_df)) : 
    text = brand_df['product_name'][idx]
    pattern = '(블랙|실버|화이트|레드|핑크|블루)'
    repl = ''    
    brand_df['product_name'][idx] = re.sub(pattern = pattern, repl = repl, string = text)

In [94]:
gender = []
for idx in range(len(brand_df)) : 
    text = brand_df['product_name'][idx]
    pattern = '(남성|여성)'
    repl = ''    
    after_text = re.sub(pattern = pattern, repl = repl, string = text)  
    if '남성' in text :
        gender.append(2)
        brand_df['product_name'][idx] = after_text
    elif '여성' in text :
        gender.append(1)
        brand_df['product_name'][idx] = after_text
    else :
        gender.append(3)

brand_df['gender'] = gender

In [96]:
for idx in range(len(brand_df)) : 
    text = brand_df['product_name'][idx]
        
    pattern = '[^가-힣]'
    repl = ' '    
    brand_df['product_name'][idx] = re.sub(pattern = pattern, repl = repl, string = text)

# 브랜드 추출

## 0번째

In [84]:
df_category = pd.read_csv('/content/drive/My Drive/shop/WANPANMAN/analysis/category.csv', encoding='cp949')

In [85]:
brand_list = []
for brands in df_category['brand'] :
    tmp = brands[2:-2].split("', '")
    for brand in tmp :
        if brand not in brand_list :
            brand_list.append(brand)
        else :
            pass

In [86]:
brand_in = []
check = []
for idx in range(len(brand_df['product_name'])) :
    brand = brand_df['product_name'][idx].split()[0]
    if brand in brand_list :
        brand_df['product_name'][idx] = brand_df['product_name'][idx].replace(brand, '')
        brand_in.append(brand)
        check.append('yes')
    else :
        brand_in.append(brand)
        check.append('no')

IndexError: ignored

In [ ]:
brand_in = pd.DataFrame(brand_in)
check = pd.DataFrame(check)
df3 = pd.concat([brand_df['product_name'], brand_in, check], axis=1)

In [74]:
# pd.concat([brand_in, check], axis=1).to_excel('/content/drive/My Drive/shop/WANPANMAN/analysis/tmp.xlsx')

## 유사도

https://wikidocs.net/24603

### vectorizer, tf-idf

In [125]:
def tokenizer(x):
    return x.split()  # x.split() # noun, pos

In [115]:
vect = CountVectorizer(tokenizer=tokenizer, min_df=1, binary=False, ngram_range=(1, 1), stop_words=['삼성카드'])
vect.fit(brand_df['product_name'])
# vect.vocabulary_
TDM = vect.transform(brand_df['product_name']).toarray()
print('TDM Shape : ', TDM.shape)

TDM Shape :  (37372, 1802)

In [99]:
# tf-idf
tfidf = TfidfVectorizer(tokenizer=tokenizer, min_df=1, binary=False, ngram_range=(1, 1), stop_words=['삼성카드'])
tfidf.fit(brand_df['product_name'])
tfidf_matrix = tfidf.transform(brand_df['product_name']).toarray()
print('TFIDF Shape : ', tfidf_matrix.shape)
# tfidf.vocabulary_

TFIDF Shape :  (37372, 1802)

### 유사단어

In [100]:
NLPdata = pd.DataFrame(brand_df, columns=['product_name'])
NLPdata['token'] = NLPdata['product_name'].apply(tokenizer)
sentences = NLPdata['token'].tolist()

In [101]:
Skip_Gram_model = Word2Vec(sentences, size=100, window=2, min_count=1, workers=8, iter=1000, sg=5)
words = Skip_Gram_model.wv.index2word
vectors = Skip_Gram_model.wv.vectors
words_ = ['침구', '에어컨', '마스크', '반팔', '니트', '드로즈', '엘지','삼성']
for word in words_ :
    print('-----------',word,'------------')
    display(pd.DataFrame(Skip_Gram_model.most_similar(word), columns=['유사단어', 'rate']))

----------- 침구 ------------

        유사단어      rate
0       메모리폼  0.565167
1       시어서커  0.562109
2         타퍼  0.547425
3       토퍼침구  0.546820
4        보몽드  0.537606
5         워싱  0.511175
6        석류즙  0.510887
7        슈퍼킹  0.507545
8  워싱렵침구슈퍼싱글  0.502960
9     워싱렵침구킹  0.497904

----------- 에어컨 ------------

    유사단어      rate
0  미니건조기  0.607938
1     휘센  0.605026
2     씽큐  0.560705
3     위너  0.559718
4    스탠드  0.550460
5   스탠드형  0.545109
6     싱큐  0.530903
7   뉴웨이브  0.518708
8  소곱창전골  0.511530
9   청정수산  0.504712

----------- 마스크 ------------

    유사단어      rate
0   코튼데이  0.893573
1    이지스  0.887033
2    엘로엘  0.879954
3    자외선  0.851866
4  아쿠아클린  0.841954
5  리앤코리아  0.734786
6    유기농  0.733254
7  목화솜행주  0.730060
8    뉴욕맘  0.691842
9    특등급  0.658704

----------- 반팔 ------------

      유사단어      rate
0      위켄드  0.824792
1     퀼팅자켓  0.785386
2       라벨  0.733087
3      퍼부츠  0.698882
4   리버시블재킷  0.695163
5      유스파  0.694934
6       아동  0.689376
7   스테디움점퍼  0.689061
8  부츠패딩슬립온  0.649076
9     스프리스  0.640388

----------- 니트 ------------

     유사단어      rate
0     보온병  0.664082
1    보냉보온  0.589315
2     도네이  0.578835
3    디베이지  0.577534
4     에스닉  0.572932
5   캐시라이크  0.572318
6  스트레치팬츠  0.571462
7  기모집업니트  0.571191
8     아주아  0.562624
9    집업니트  0.561249

----------- 드로즈 ------------

     유사단어      rate
0     트렁크  0.644445
1   실크플러스  0.640867
2     제니스  0.622543
3     라쉬반  0.622307
4     뉴트로  0.588389
5      런닝  0.551873
6    언더셔츠  0.544634
7  베이스레이어  0.544460
8    롱드로즈  0.543489
9     언더탑  0.538801

----------- 엘지 ------------

            유사단어      rate
0            더블팩  0.638788
1            싱글팩  0.633448
2           삼성카드  0.578694
3              치  0.517978
4         다이얼워킹화  0.509540
5             량용  0.507631
6           엘지전자  0.504702
7           스탠드형  0.503959
8            스탠드  0.498831
9  고칼슘검은콩두유호두아몬드  0.490218

----------- 삼성 ------------

    유사단어      rate
0    선풍기  0.658981
1   엘지트롬  0.657150
2     량용  0.531785
3    키큰장  0.530677
4     메탈  0.529837
5  퍼퓸드몽드  0.525174
6     제로  0.523984
7    고급형  0.523458
8   퀸메이드  0.523105
9    이녹스  0.501119

In [127]:
Skip_Gram_model.similarity('삼성','가전')

KeyError: ignored

In [103]:
Skip_Gram_model.wv.most_similar(positive=['삼성', '에어컨'], negative=['선풍기'], topn=10)

[('그램', 0.5463896989822388),
 ('휘센', 0.5077218413352966),
 ('엘지', 0.4954253137111664),
 ('울트라', 0.4904213547706604),
 ('삼성카드', 0.4809780716896057),
 ('치', 0.4721352159976959),
 ('위너', 0.47100305557250977),
 ('싱큐', 0.4311113953590393),
 ('씽큐', 0.4191797971725464),
 ('스탠드형', 0.41579633951187134)]

In [126]:
Skip_Gram_model = Word2Vec(sentences, size=100, window=5, min_count=5, workers=8, iter=1000, sg=1)
words = Skip_Gram_model.wv.index2word
vectors = Skip_Gram_model.wv.vectors
words_ = ['침구', '에어컨', '마스크', '반팔', '니트', '드로즈', '엘지','삼성', '문어']
for word in words_ :
    print('-----------',word,'------------')
    display(pd.DataFrame(Skip_Gram_model.most_similar(word), columns=['유사단어', 'rate']))

----------- 침구 ------------

      유사단어      rate
0      보몽드  0.655729
1     시어서커  0.586100
2       자수  0.542929
3      카밀라  0.533980
4      슈퍼킹  0.527644
5  더블착번극세사  0.523915
6       엘사  0.523671
7     토퍼침구  0.513774
8      싱글킹  0.501748
9     메모리폼  0.498285

----------- 에어컨 ------------

     유사단어      rate
0   미니건조기  0.628456
1     스탠드  0.614138
2      휘센  0.586706
3    스탠드형  0.567850
4  국민텔레비전  0.560204
5      위너  0.545624
6      씽큐  0.544091
7     스카이  0.540049
8    파워모션  0.529194
9     이녹스  0.522070

----------- 마스크 ------------

    유사단어      rate
0   코튼데이  0.945234
1    이지스  0.924795
2    자외선  0.918943
3    엘로엘  0.913251
4  아쿠아클린  0.896686
5    유기농  0.810382
6  목화솜행주  0.733377
7    뉴욕맘  0.702391
8  네페르티티  0.656085
9  리앤코리아  0.643516

----------- 반팔 ------------

     유사단어      rate
0      아동  0.878257
1    퀼팅자켓  0.812799
2     위켄드  0.812303
3      라벨  0.778543
4     퍼부츠  0.744230
5  스테디움점퍼  0.655299
6  리버시블재킷  0.654244
7    스프리스  0.649142
8    디태처블  0.641855
9    폴로셔츠  0.620045

----------- 니트 ------------

     유사단어      rate
0     보온병  0.609133
1     풀오버  0.588935
2    보냉보온  0.582826
3    디베이지  0.561691
4  스트레치팬츠  0.556056
5      루즈  0.555547
6     도네이  0.547444
7     소프트  0.547206
8     모크넥  0.544256
9     블렌딩  0.539247

----------- 드로즈 ------------

      유사단어      rate
0      트렁크  0.634606
1      제니스  0.613974
2       런닝  0.608995
3     에어로웜  0.607384
4      라쉬반  0.546161
5      웜웨어  0.529787
6  레이스멀티팬티  0.526018
7      뉴트로  0.523986
8    카라티셔츠  0.521030
9       맥시  0.517676

----------- 엘지 ------------

       유사단어      rate
0    삼성어냉장고  0.582609
1       거미손  0.503302
2        삼성  0.497900
3      스탠드형  0.495945
4  에스까르고에센스  0.492828
5   무선청소기필터  0.485146
6        싱큐  0.479445
7      더블쿠션  0.478406
8        편백  0.478067
9       클레오  0.476336

----------- 삼성 ------------

     유사단어      rate
0    엘지트롬  0.652405
1  삼성어냉장고  0.591186
2   퍼퓸드몽드  0.534591
3      시트  0.509989
4      메탈  0.506076
5    에어포스  0.499988
6      엘지  0.497900
7     선풍기  0.495687
8     키큰장  0.489713
9   용대리황태  0.488271

----------- 문어 ------------

   유사단어      rate
0    꽃게  0.754397
1  제주바다  0.718657
2     분  0.717640
3    절단  0.661826
4    대구  0.656980
5   매운탕  0.603949
6    양념  0.568288
7     본  0.561202
8   문어발  0.559399
9   올바로  0.558383

### set(상품명) 유사도

In [131]:
set_df = list(set(brand_df['product_name']))

In [133]:
vect = CountVectorizer(tokenizer=tokenizer, min_df=1, binary=False)
vect.fit(set_df)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=<function tokenizer at 0x7f468d4d39d8>,
                vocabulary=None)

In [136]:
vect = CountVectorizer(tokenizer=tokenizer, min_df=1, binary=False)
vect.fit(set_df)
TDM = vect.transform(set_df).toarray()
print('TDM Shape : ', TDM.shape)
tfidf = TfidfVectorizer(tokenizer=tokenizer).fit(set_df)
tfidf 
print('TFIDF Shape : ', tfidf_matrix.shape)

NLPdata = pd.DataFrame(set_df, columns=['product_name'])
NLPdata['token'] = NLPdata['product_name'].apply(tokenizer)
sentences = NLPdata['token'].tolist()

Skip_Gram_model = Word2Vec(sentences, size=100, window=2, min_count=1, workers=8, iter=1000, sg=5)
words = Skip_Gram_model.wv.index2word
vectors = Skip_Gram_model.wv.vectors


words_ = ['침구', '에어컨', '마스크', '반팔', '니트', '드로즈', '엘지','삼성'] # 
for word in words_ :
    print('-----------',word,'------------')
    display(pd.DataFrame(Skip_Gram_model.most_similar(word), columns=['유사단어', 'rate']))

TDM Shape :  (1283, 1804)
TFIDF Shape :  (37372, 1655)
----------- 침구 ------------

        유사단어      rate
0         워싱  0.733669
1         엘리  0.733446
2     워싱렵침구퀸  0.724738
3         엘사  0.723744
4        클라라  0.718706
5     워싱렵침구킹  0.716368
6          킹  0.714313
7        샐비어  0.709123
8  워싱렵침구슈퍼싱글  0.708249
9         화원  0.708078

----------- 에어컨 ------------

    유사단어      rate
0     씽큐  0.885186
1  미니건조기  0.871901
2     싱큐  0.870354
3     위너  0.864872
4   대우전자  0.853678
5   스탠드형  0.819149
6    스탠드  0.803884
7    벽걸이  0.788381
8     휘센  0.776798
9   무풍슬림  0.764307

----------- 마스크 ------------

    유사단어      rate
0    엘로엘  0.973246
1    이지스  0.968874
2  아쿠아클린  0.932954
3    자외선  0.912554
4   코튼데이  0.910008
5    유기농  0.864256
6    특등급  0.836647
7   더블더블  0.827035
8  목화솜행주  0.814278
9  더블사이즈  0.811941

----------- 반팔 ------------

      유사단어      rate
0     퀼팅자켓  0.916643
1     폴로셔츠  0.903362
2      위켄드  0.899650
3      유스파  0.873733
4       아동  0.850406
5      퍼부츠  0.836839
6       치약  0.828208
7  부츠패딩슬립온  0.827727
8   리버시블재킷  0.806976
9     디태처블  0.803730

----------- 니트 ------------

     유사단어      rate
0     풀오버  0.863353
1     아주아  0.847830
2    디베이지  0.838004
3     블렌딩  0.818286
4      루즈  0.815595
5   캐시라이크  0.789924
6   더블유베일  0.786659
7     모크넥  0.780037
8     보온병  0.778029
9  스트레치팬츠  0.767898

----------- 드로즈 ------------

     유사단어      rate
0     트렁크  0.800036
1  벽걸이에어컨  0.760769
2     라쉬반  0.758943
3    언더셔츠  0.750577
4     제니스  0.726520
5   발란스테크  0.717235
6     뉴트로  0.715744
7      런닝  0.713187
8    롱드로즈  0.705862
9   실크플러스  0.703577

----------- 엘지 ------------

    유사단어      rate
0      치  0.836469
1    싱글팩  0.835459
2    더블팩  0.832406
3   삼성카드  0.790899
4     싱큐  0.783541
5     위너  0.782155
6  엑티브워시  0.774911
7     씽큐  0.768100
8   스탠드형  0.752469
9     워블  0.741307

----------- 삼성 ------------

     유사단어      rate
0    엘지트롬  0.813417
1  홈멀티에어컨  0.803278
2  스탠드에어컨  0.786776
3     케비어  0.783092
4     울트라  0.757446
5     이녹스  0.756455
6     선풍기  0.707794
7  푸드쇼케이스  0.696477
8   퍼퓸드몽드  0.696393
9   엑티브워시  0.689770

# 카테고리별 어떤 단어가 많이 등장하는지

In [116]:
df1 = pd.concat([df['category'], brand_df], axis=1 )
category_list = ['의류', '속옷', '주방', '농수축', '이미용', '가전', '생활용품', '건강기능', '잡화', '가구', '침구']
for one_category in category_list :
    tmp1 = pd.DataFrame(df1.loc[df1['category'] == one_category, 'product_name'])

    vect = CountVectorizer(tokenizer=tokenizer, min_df=1, binary=False, ngram_range=(1, 1), stop_words=['삼성카드'])
    #print(vector.fit_transform(tmp1['product_name']).toarray()) # 코퍼스로부터 각 단어의 빈도 수를 기록한다.
    vect.fit(tmp1['product_name'])
    bow = vect.vocabulary_
    bow_df = pd.DataFrame(bow.values(), index = bow.keys() )
    bow_df.sort_values(0, axis=0, inplace=True, ascending = False)
    bow_df['word freq'] = bow_df[0]
    bow_df.drop(0, axis=1, inplace = True)
    bow_df['freq rate(%)'] = bow_df['word freq']*100 / len(tmp1)
    print('-----------------------', one_category, len(tmp1), '-------------------------')
    display(bow_df.head(10))

----------------------- 의류 4340 -------------------------

           word freq  freq rate(%)
휘메일              268      6.175115
후드코트             267      6.152074
후드롱구스다운코트        266      6.129032
후드               265      6.105991
헤스티지             264      6.082949
헤비추얼             263      6.059908
핫멜트              262      6.036866
하이넥              261      6.013825
하드쉘              260      5.990783
피치기모팬츠           259      5.967742

----------------------- 속옷 3919 -------------------------

        word freq  freq rate(%)
힐링            222      5.664710
히팅            221      5.639194
히트융           220      5.613677
히트모           219      5.588160
후크            218      5.562644
황후의코르셋        217      5.537127
황후의           216      5.511610
홈웨어           215      5.486093
홀리데이          214      5.460577
헤스떼벨          213      5.435060

----------------------- 주방 6604 -------------------------

        word freq  freq rate(%)
휴롬퀵스퀴저        254      3.846154
휴롬            253      3.831012
후레쉬           252      3.815869
후라이팬          251      3.800727
회전통그릴         250      3.785584
홈쿠            249      3.770442
홈밀맷돌          248      3.755300
홈             247      3.740157
호주            246      3.725015
형             245      3.709873

----------------------- 농수축 3884 -------------------------

       word freq  freq rate(%)
힘찬           245      6.307930
흥양농협         244      6.282183
흑돼지구이        243      6.256437
황토방          242      6.230690
홍어무침         241      6.204943
홍어           240      6.179197
혼합           239      6.153450
호빵           238      6.127703
현대어찬         237      6.101957
햅쌀           236      6.076210

----------------------- 이미용 1305 -------------------------

             word freq  freq rate(%)
헤어컬러크림             130      9.961686
헤어볼륨쿠션             129      9.885057
하이드로               128      9.808429
피부약방               127      9.731801
플러스                126      9.655172
플라센타아이크림선크림        125      9.578544
프리미엄               124      9.501916
풋케어                123      9.425287
풀                  122      9.348659
퍼스트                121      9.272031

----------------------- 가전 6479 -------------------------

        word freq  freq rate(%)
휴대용            66      1.018676
휘센             65      1.003241
홈멀티에어컨         64      0.987807
홈멀티            63      0.972372
퓨리케어           62      0.956938
푸드쇼케이스         61      0.941503
파워모션           60      0.926069
통돌이            59      0.910634
텔레비전           58      0.895200
터보             57      0.879765

----------------------- 생활용품 2877 -------------------------

         word freq  freq rate(%)
히팅맘            264      9.176225
히터             263      9.141467
히말라야           262      9.106708
황사             261      9.071950
혈압계            260      9.037192
헤어드라이어기        259      9.002433
헤링본            258      8.967675
한장빨래           257      8.932916
한일             256      8.898158
한솔             255      8.863399

----------------------- 건강기능 790 -------------------------

         word freq  freq rate(%)
히비스커스           96     12.151899
황제진액            95     12.025316
황성주             94     11.898734
환               93     11.772152
해죽순             92     11.645570
한삼인순홍삼진         91     11.518987
한국인             90     11.392405
플러스             89     11.265823
프리바이오틱스         88     11.139241
프로메가            87     11.012658

----------------------- 잡화 3891 -------------------------

       word freq  freq rate(%)
히트           301      7.735801
화            300      7.710100
홀스페리         299      7.684400
호보백          298      7.658700
헤라귀걸이        297      7.632999
헤라           296      7.607299
핸드백          295      7.581599
피오레          294      7.555898
피닉스          293      7.530198
플로쥬          292      7.504498

----------------------- 가구 2614 -------------------------

        word freq  freq rate(%)
흙카우치소파         72      2.754399
흙카우치           71      2.716144
흙침대            70      2.677888
화장대거울          69      2.639633
화장대            68      2.601377
협탁             67      2.563122
한샘             66      2.524866
하이바스           65      2.486611
하부장형           64      2.448355
하부장            63      2.410099

----------------------- 침구 669 -------------------------

         word freq  freq rate(%)
효재              54      8.071749
화원              53      7.922272
호텔식             52      7.772795
헤링본             51      7.623318
헤르만             50      7.473842
한샘              49      7.324365
한빛              48      7.174888
피그먼트워싱          47      7.025411
페르시안스타일         46      6.875934
특대형             45      6.726457

# 연습

In [67]:
# 가구
def func_fur(x) :
    if '침대' in x :
        return ['침구', '침대']
    elif '베드룸' in x :
        return ['침구', '베드룸']
    elif '소파' in x :
        return ['소파', '소파']
    elif '카우치' in x :
        return ['소파', '카우치']
    elif '리클라이너' in x :
        return ['소파', '리클라이너']
    else :
        return ['수납장', '수납장']

In [68]:
# 가전
def func_ele(x) :
    if '김치냉장고' in x :
        return ['냉장고', '김치냉장고']
    elif '냉장고' in x :
        return ['냉장고', '냉장고']
    elif '에어컨' in x :
        return ['계절가전', '에어컨']
    elif '선풍기' in x :
        return ['계절가전', '선풍기']
    elif '세탁기' in x :
        return ['세탁가전', '세탁기']
    elif '건조기' in x :
        return ['세탁가전', '건조기']
    elif 'TV' in x :
        return ['가전제품', 'TV']   
    elif '청소기' in x :
        return ['가전제품', '청소기']   
    elif '스타일러' in x :
        return ['가전제품', '스타일러']
    elif '공기청정기' in x :
        return ['가전제품', '공기청정기']   
    elif '노트북' in x :
        return ['전자제품', '노트북']                     
    else :
        return ['기타', '기타']

In [69]:
# 의류
def print_kind_item(x, kind, itmes) :
    for item in items :
        if item in x :
            return [kind, item]
            break

def func_clo(x) :
    kinds = ['여름', '겨울', 'exercise', 'formal']

    for kind in kinds :
        if kind == '여름' :
            items = ['썸머', '쿨', '반팔', '여름', '린넨']
            return print_kind_item(x, kind, items)
            
        elif kind == '겨울' :
            items = ['니트', '기모', '코트', '패딩', '무스탕', '터틀넥', '윈터', '구스다운', '덕다운']
            return print_kind_item(x, kind, items)

        elif kind == 'excercise' :
            items = ['아웃도어', '액티비티', '트랙수트', '모크넥', '네이처 수트']
            return print_kind_item(x, kind, items)

        elif kind == 'formal' :
            items = ['블라우스']
            return print_kind_item(x, kind, items)
        
        else :
            return ['기타', '기타']

In [ ]:
# 속옷
def func_under(x) :
    kinds = ['남성', '여성']
    for kind in kinds :
        if kind == '남성' :
            items = ['남성', '드로즈', '트렁크', '언더셔츠']
            return print_kind_item(x, kind, items)
        elif kind == '여성' :
            items = ['브라', '레깅스', '보정', '란쥬', '레이스', '코르셋', '원피스', '하이웨스트', '탑']
            return print_kind_item(x, kind, items)
        else :

In [ ]:
def new_category(x) :
    if x == '가구' :
        # 가구의 상품명 가져와서
        return func_fur(상품명)
    elif x == '가전'